html {
    background-color: #F4f4f9;
}

.title {
    padding-right: 10rem;
    padding-top: 3rem;
}

.title h1 {
    font-family: 'Lobster', cursive;
    font-size: 8.063rem;
    color: #131313;
}

.flex-container {
    display: flex;
    padding: 7rem;
    justify-content: center;
}

.contact {
    padding-left: 10rem;
    font-family: 'Montserrat', sans-serif;
}

.contact_head {
    text-align: center;
    padding: 3rem 3rem 2rem 3rem;
    font-family: 'Montserrat', sans-serif;
    color: #131313;
    font-size: 3.125rem;
}

.contact .contact_card {
    background-color: #B8dbd9;
    border-radius: 20%;
    width: 33.438rem;
    height: 37.375rem;
}

.login {
    padding: 0 10% 5% 10%;
    font-size: 1.25rem;
    color: #131313;
}

input {
    border: none;
    background-color: transparent;
    border-bottom: 3px solid #596F7C;
    border-radius: 3px;
    width: 95%;
    padding-top: 2rem;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    color: #2F4550;
}

input:focus {
    outline: none !important;
    border-color: #131313;
    transition: all .2s ease-out;
}

footer {
    background-color: #131313;
    height: 7rem;
    text-align: center;
}

footer h3 {
    color: #B8dbd9;
    font-family: 'Montserrat', sans-serif;
    padding: 2.5rem 2.5rem 0 2.5rem;
    margin: 0%;
}

.submit_button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 2%;
    margin: 0 40%;
    border: none;
    background-color: #2F4550;
    color: #F4f4f9;
    min-height: 30px;
    min-width: 120px;
    border-radius: 50px;
    transition: all .5s ease-out;
    cursor: pointer;
}

.submit_button:hover {
    background-color: #131313;
    color: #B8dbd9;
    transition: all .5s ease-out;
}